<div class="container">
  <h1>Add</h1>
  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.association :ingredients %>
  </div>

    <div class="form-actions">
      <%= f.button :submit, class:'btn btn-primary' %>
    </div>
  <% end %>
</div>
